body{
       color: #40514E;
       margin: 0;
       text-align: center;
       font-family: 'Monsterat', serif;
}
h1{
       color: #66BFBF;
       font-size: 90px;
       font-family: 'Sacramento', cursive;
       margin-top: 0;
}
h2{
       font-family: 'Sacramento', cursive;
       font-size: 50px;
       font-weight: normal;
       color: #66BFBF;
       padding-top: 100px;
}
h3 {
      color:#66BFBF;
}
.my-skills-o{
       width: 25%;
       float: left;
       margin-right: 30px;
}
.man{
       margin: 100px auto 25px;
       width: 15%;
}
.computer{
       width:25%;
       float: right;
       margin-right: 20px;
}
.skill-row{
       line-height: 2;
       width: 50%;
       margin: 100px auto 100px auto;
       text-align: left;
}
.programmer{
       color: #66BFBF;
       font-size: 30px;
       font-family: 'Marriweather', serif;
}
span {
       color: #11999E;
}
.top-container{
       background-color: #E4F9F5;
       position: relative;
       padding-top: 100px;
}
.bottom-cloud{
       position: absolute;
}
a{
       color: #11999E;
       text-decoration: none;
}
.intro{
       width: 30%; 
       margin: auto;
}

hr{
       width: 5%;
       margin: 100px auto;
       border: dotted #bdc6c6 6px;
       border-bottom: none;
}
.contact-message{
       width: 40%;
       margin: 40px auto 60px;
}
.bottom-container{
       background-color: #66BFBF;
       padding: 50px 0px 20px;
}
.myButton {
       margin: 40px;
	box-shadow: 0px 10px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:8px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:20px;
	font-weight:bold;
	padding:13px 32px;
	text-decoration:none;
	text-shadow:0px 1px 0px #3d768a;
}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}
.myButton:active {
	position:relative;
	top:1px;
}

.contact-info{
       width: 40%;
       line-height: 2;
       margin: auto;
}
a{
       margin: 10px 20px;
       font-family: 'Monsterat', sans-serif;
       color: #11999E
}
a:hover{
       color: #EAF6F6;
}
.copyright{
       padding: 20px 0px;
       font-size: 0.75em;
       color: #EAF6F6
}